# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Environment
.env
.env.prod
.deploy.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
.logs/

# Docker volumes
postgres_data/
