.DS_Store

# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
server/server.log

# Fichiers avec secrets
teams/teams-exporter-extension/google-apps-script.js
